/* Main */
img{
    width: 20%;
}
body{
    text-align: center;
}
.container{
    margin-top: 5%;
    font-size: larger;
    font-weight: bold;
}
#list_1,#list_2{
    margin-top:5%;
    margin-left: 24%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    
    
}

.container a {
    text-decoration: none;
    color:black;
}

/* SEARC */
.Search{
    margin-top:100px;
    ;
}

/* CATEGORY */
#cate,#cate2,#cate3{
    margin-top: 5%;
    margin-left:24%;
    width: 50%;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
}
#cate{
    margin-left: 24.5%;
}
.category button{
    border: 0;
    background-color: transparent;
    font-weight: bolder;
    font-size: x-large;
}

#search_result{
    width: 30%;
    height: 1cm;
    border: solid;
    margin-bottom: 1cm;
}


/* RESULT */

/* PointCharge */

.pointcharge{
    margin: 3rem;
    font-size: x-large;
}
#pnumber{
    font-weight: bolder;
    font-size: x-large;
    background-color: transparent;
    border: 0;
    margin: 2rem;
}